<div class="row" style="margin: 10px;">
  <div class="col-md-12">

<h1>Administration Console</h1>

<h2>Manage Categories</h2>
<ul>
  <li><%= link_to 'Add a Category', new_admin_category_path %></li>
  <li><%= link_to 'Edit Categories', admin_categories_path %></li>
</ul>

<h2>Manage Games</h2>
<ul>
  <li><%= link_to 'Add a Game', new_admin_category_path %></li>
  <li><%= link_to 'Edit a Game', admin_categories_path %></li>
</ul>

<h2>Manage Locations</h2>
<ul>
  <li><%= link_to 'Edit Locations', admin_locations_path %></li>
  <li><%= link_to 'Add a Location', new_admin_location_path %></li>
</ul>

      </div>
    </div>