<div class="row" style="margin: 10px;">
  <div class="col-md-8">

    <h1><%= @game.name %></h1>

    <p>
      <%= @game.name %> was released in <%= @game.release_date %> by <%= @game.manufacturer.name %>.
    </p>

    <p>
      ArcadeNomad is tracking <%= @game.name %> in <%= pluralize(@game.locations.count, 'arcade') %>. If you know of
      an arcade hosting <%= @game.name %>, <%= link_to 'let us know', new_location_path %>!
    </p>

  </div>

  <div class="col-md-4">
    <%= render :partial => 'shared/book'  %>
  </div>

</div>

