<%= form_for @location, :html => {'role' => 'form'} do |f| %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :placeholder => 'Must be unique. e.g. BW3\'s Hilliard', :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, :placeholder => 'A sentence or two describing this arcade', :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :street %>
        <%= f.text_field :street, :id => 'location-street', :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, :id => 'location-city', :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :state_id %>
        <%= f.collection_select :state_id, State.all, :id, :name, {:prompt => 'Select a state'}, {:class => 'form-control', :id => 'location-state'} %>
      </div>

      <div class="form-group">
        <%= f.label :zip %>
        <%= f.text_field :zip, :placeholder => 'Just five digits please', :class => 'form-control input-small', :id => 'location-zip', :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label 'Category' %>
        <%= f.collection_select :category_id, Category.order('name asc'), :id, :name, {}, {:class => 'form-control', :id => 'location-category-id'} %>
      </div>

    <h2>Games at this Location</h2>

    <div class="form-group">
      <%= f.label raw("Select Games Found at this Location") %><br />
      (OS X: &#8984; + click Windows: Ctrl + click)
      <%= f.collection_select :game_ids, Game.all, :id, :name, {}, {:multiple => true, :class => 'form-control', :id => 'location-game-ids'} %>
    </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-danger" id="location-form-clear">Clear</button>
      </div>

<% end %>



