<div class="row" style="margin: 10px;">

  <div class="col-md-8">

    <h1>Arcades</h1>

    <% if @locations.size > 0 %>

        <ul class="list-group">

          <% @locations.each do |location| %>
              <li class="list-group-item">
                <h4 class="list-group-item-heading"><%= link_to location.name, location_path(location.friendly_id) %></h4>
                <span style="color:grey"><%= location.city %>, <%= location.state.abbreviation %> &middot; <%= location.description %></span>
              </li>
          <% end %>

        </ul>

        <%= will_paginate @locations, renderer: BootstrapPagination::Rails %>

    <% else %>
        <p>No locations available.</p>
    <% end %>

  </div>

  <div class="col-md-4">

    <%= render :partial => 'shared/book'  %>

  </div>

</div>