<div data-role="header" data-position="fixed">
  <%= link_to "Home", root_url() %>
  <h1>Nearby Arcades</h1>
  <a href="/locations/nearby">List</a>
</div>

<div data-role="content">

  <strong>Filter Distance (miles)</strong><br />
  <div data-role="navbar" data-grid="d">
      <ul>
          <li><%= link_to "5", "/locations/nearby/5", :class => "ui-btn-active" %></li>
          <li><%= link_to "10", "/locations/nearby/10" %></li>
          <li><%= link_to "15", "/locations/nearby/15" %></li>
          <li><%= link_to "25", "/locations/nearby/25" %></li>
          <li><%= link_to "50", "/locations/nearby/50" %></li>
      </ul>
  </div>

  <div>
  MAP
  USE BOOK COVER COLORS FOR ARCADENOMAD THEMING
  </div>

</div>


