<div class="row" style="margin: 10px;">
  <div class="col-md-8">

    <h1>Nearby Arcades</h1>

      <% if ! @geocoder_success %>

        <p>
          We could not identify your position and have set a default location of downtown Columbus, Ohio.
        </p>

      <% end %>

    <strong>Filter Distance (miles)</strong><br />

    <div class="btn-group">
      <%= link_to '5', '/locations/nearby/5', :class => 'btn btn-default' %>
      <%= link_to '10', '/locations/nearby/10', :class => 'btn btn-default' %>
      <%= link_to '15', '/locations/nearby/15', :class => 'btn btn-default' %>
      <%= link_to '25', '/locations/nearby/25', :class => 'btn btn-default' %>
      <%= link_to '50', '/locations/nearby/50', :class => 'btn btn-default' %>
    </div>

    <% if @locations.length > 0 %>
      <ul class="list-group">
        <% @locations.each do |location| %>
          <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= link_to location.name, location_path(location.friendly_id) %></h4>
              (<%= location.distance_from(@user_coordinates).round(2) %> miles)
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No locations available.</p>
    <% end %>

  </div>

  <div class="col-md-4">

    <%= render :partial => 'shared/book'  %>

  </div>

</div>
