<div style="text-align: center; margin-bottom: 10px;">
<h1 style="font-size: 2.0em; margin-top: 10px; margin-bottom: 2px;"><%= @location.name %></h1>
  <strong>
    <%= @location.street %>, <%= @location.city %>, <%= @location.state.name %> <%= @location.zip %>
  </strong>
</div>



<div id="map" data-latitude="<%= @location.latitude %>" data-longitude="<%= @location.longitude %>"></div>


<!-- Nav tabs -->
<div class="row" style="margin: 10px;">
  <div class="span-12 text-center">
<ul class="nav nav-pills" role="tablist" style="display: inline-block;">
  <li class="active"><a href="#about" role="tab" data-toggle="pill">About</a></li>
  <li><a href="#games" role="tab" data-toggle="pill">Games</a></li>
  <li><a href="#nearby" role="tab" data-toggle="pill">Nearby</a></li>
</ul>
  </div>
</div>

<div class="row" style="margin: 10px;">
  <div class="span-12">
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="about">

    <p>
      <strong>Category</strong>: <%= link_to @location.category.name, category_path(@location.category.name) %><br />
      <strong>Description</strong>: <%= @location.description %><br />
      <strong>Telephone</strong>: <%= number_to_phone @location.telephone, area_code: true %><br />
      <strong>URL</strong>: <% if @location.url.present? %><a href="<%= @location.url %>"><%= @location.url %></a> <% else %> Not available <% end %><br />

    </p>

  </div>

  <div class="tab-pane" id="games">

    <% if @location.games.length > 0 %>

        <p><%= @location.name %> is home to <%= @location.games.size %> games!</p>

        <ul class="list-group">

          <% @location.games.each do |game| %>
              <li class="list-group-item">
                <h4 class="list-group-item-heading"><%= link_to game.name, game_path(game) %></h4>
                <span style="color:grey"><%= game.comment %></span>
              </li>
          <% end %>

        </ul>

    <% else %>
        <p>No games available.</p>
    <% end %>

    <!--
    <div style="text-align: right;">
      <a href="">Addition or correction?</a>
    </div>
    -->

  </div>

  <div class="tab-pane" id="nearby">

    <% if @nearby_locations.present? %>

        <ul class="list-group">

          <% @nearby_locations.each do |nearby_location| %>
              <li class="list-group-item">
                <h4 class="list-group-item-heading"><%= link_to nearby_location.name, location_path(nearby_location) %></h4>
                (<%= nearby_location.distance_from([@location.latitude, @location.longitude]).round(2) %> miles)
              </li>
          <% end %>

        </ul>

    <% else %>
        <p>
          No nearby arcades.
        </p>
    <% end %>

  </div>

</div>

  </div>
</div>








