<div class="row" style="margin: 10px;">
  <div class="col-md-12">

    <h1>Edit a Location</h1>

    <% if @location.errors.any? %>
        <div>
          <h2><%= pluralize(@location.errors.count, 'error') %> prohibited this location from being updated:</h2>

          <ul>
            <% @location.errors.messages.values.each do |message| %>
                <li><%= message[0] %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= form_for [:admin, @location], :url => admin_location_path(@location.id), :html => {'role' => 'form'} do |f| %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, :placeholder => 'Must be unique. e.g. BW3\'s Hilliard', :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, :placeholder => 'A sentence or two describing this arcade', :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :street %>
          <%= f.text_field :street, :id => 'location-street', :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :city %>
          <%= f.text_field :city, :id => 'location-city', :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :state_id %>
          <%= f.collection_select :state_id, State.all, :id, :name, {:prompt => 'Select a state'}, {:class => 'form-control', :id => 'location-state'} %>
        </div>

        <div class="form-group">
          <%= f.label :zip %>
          <%= f.text_field :zip, :placeholder => 'Just five digits please', :class => 'form-control input-small', :id => 'location-zip', :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :telephone %>
          <%= f.text_field :telephone, :id => 'location-telephone', :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :url %>
          <%= f.text_field :url, :id => 'location-url', :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Category' %>
          <%= f.collection_select :category_id, Category.order('name asc'), :id, :name, {}, {:class => 'form-control', :id => 'location-category-id'} %>
        </div>

        <h2>Games at this Location</h2>

        <%= f.fields_for :arcades do |arcade| %>

            <div class="form-group">
              <%= arcade.label arcade.object.game.name, arcade.object.game.name %><br />
              <%= arcade.text_field :comment, :placeholder => 'Add comment here', :class => 'form-control input' %>
            </div>

        <% end %>


        </div>

        <div class="form-group">
          <button type="submit" class="btn">Submit</button>
          <button type="button" class="btn" id="location-form-clear">Clear</button>
        </div>

    <% end %>

  </div>
</div>