<div class="row" style="margin: 10px;">
  <div class="col-md-8">

    <h1><%= @category.name %></h1>

    <% if @category.locations.size > 0 %>
        <ul class="list-group">
          <% @category.locations.each do |location| %>
              <li class="list-group-item">
                <h4 class="list-group-item-heading"><%= link_to location.name, location_path(location.friendly_id) %></h4>
                <span style="color:grey"><%= location.description %></span>
              </li>
          <% end %>
        </ul>
    <% else %>
        <p>No category locations available.</p>
    <% end %>

    <p>
      Category last updated: <%= localize(@category.created_at, :format => :last_updated) %>
    </p>

  </div>

  <div class="col-md-4">

    <%= render :partial => 'shared/book'  %>

  </div>

</div>