<div class="row" style="margin: 10px;">
  <div class="col-md-8">

    <h1>Contact ArcadeNomad</h1>

    <% if @contact.errors.any? %>
        <div>
          <h2><%= pluralize(@contact.errors.count, 'error') %> prohibited the e-mail from being sent:</h2>

          <ul>
            <% @contact.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      Have a comment, compliment or gripe? Would you like your favorite arcade added to the ArcadeNomad database? Let us know!
    </p>

    <%= form_for @contact, {url: contact_path, html: { role: 'form' }} do |f| %>

        <div class="form-group">
            <%= f.label :name, 'Your Name' %>
            <%= f.text_field :name, :class => 'form-control', :required => true %>
        </div>

        <div class="form-group">
            <%= f.label :name, 'Your E-mail Address' %>
            <%= f.text_field :email, :class => 'form-control', :required => true %>
        </div>

        <div class="form-group">
            <%= f.label :name, 'Your Message' %>
            <%= f.text_area :message, :class => 'form-control', :required => true %>
        </div>

        <div class="form-group">
          <%= f.submit 'Send message', :class=> 'btn btn-primary' %>
        </div>
    <% end %>

  </div>

  <div class="col-md-4">
    <%= render :partial => 'shared/book'  %>
  </div>

</div>
